spring:
  cloud:
    config:
      server:
        bootstrap: true
        native:
          search-locations: classpath:/microservices
  application:
    name: config-server
  profiles:
    active: native
server:
  port: 8888

eureka:
  client:
    registerWithEureka: false
    fetchRegistry: false